body {
    background: #fff;
    border: none;
    color: #333;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-weight: bold;
    text-align: left;
}

p {
    text-align: left;
    font-size: 10pt;
}

h1 {
    font-size: 18pt;
    text-align: left;
    color: #0000a0;
    padding-top: 70px;
    margin: 0;
}

h2 {
    font-size: 20pt;
    text-align: left;
    color: #0000a0;
    margin: 5px 0 15px 0;
}

p a:visited {
    color: #0000a0;
}

a {
    color: #0000a0 !important;
    text-decoration: none;
}

a:hover {
    color: #0000a0;
    text-decoration: underline;
}

div.canvas {
    margin-top: 2px;
    margin-left: 15px;
    margin-right: 15px;
}

div.my_textual_div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.myMap {
    width: 100%;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
}

div.pathData {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

div#likeText {
    display: none;
    margin-top: 30px;
}

table.gebddir {
    text-align: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;    
    border: thin none black;
    border-collapse: collapse;
    border-spacing: 0;
}

table.gebddir td {
    padding: 0;
}

table.gebddir tr.heading {
    height: 40px;
}

table.gebddir tr.text {
    height: 30px;
}

table.gebddir td.heading {
    background: #a7a7a7;
    margin-left: 10px;
}

table.gebddir td.even {
    background: #fff;
}

table.gebddir td.odd {
    background: #e7e7e7;
}

div.centered-directions {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #a7a7a7;
    font-weight: bold;
}

div.left-shift {
    margin-right: 40px;
    margin-top: auto;
    text-align: right;
}

span.red {
    color: #ca0000;
}

textarea {
    width: 100%;
}

input#addressStr {
    height: 31px;
    margin-right: -1px;
}

input.calcButton {
    width: 200pt;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 0.75em;
    text-align: left;
}

ul.unsortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.unsortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 0.75em;
    text-align: left;
}

table.dragTable td {
    vertical-align: middle;
}

table.dragTable td.left {
    width: 27px;
}

table.dragTable td.middle {
    width: 200px;
}

table.dragTable td.right {
    width: 27px;
}

button.ui-button-icon-only {
    height: 100%;
}

#googlePlusShare {
    margin-top: 8px;
    margin-left: 4px;
}

#facebookShare {
    margin-top: 0px;
    margin-left: 0px;
}

#twitterShare {
    margin-top: 4px;
    margin-left: 4px;
}

div.poll {
    padding: 5px;
    background: #fdf5ce;
    border: 1px solid #fbd850;
    border-radius: 4px;
}

.hidden {
    display: none;
}

.ui-state-focus {
    outline: none;
}

a.gpxFile {
    font-size: 20pt;
}

.ui-dialog {
    z-index: 1001 !important;
}
